body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #17191e;
    color: #fff;
    padding: 25px;
  }
  .center {
    align-items: center;
    align-self: center;
    text-align: center;
  }
  
  .dark-mode {
    background-color: white;
    color: black;
  }
  
  .dark-mode-2 {
    background-color: #3b4351;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    padding: 20px;
  }
  
  .dark-mode-2-link {
    background-color: #3b4351;
    color: rgb(0, 0, 80);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    padding: 20px;
  }
  
  .dark-mode-3 {
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .dark-hover:hover {
    color: gray;
  }
  

  table,
  th,
  td {
    border: 1px solid black;
  }
  
  /*Navigation changes*/

  details[open] summary ~ * {
    animation: open 0.5s ease-in-out;
  }
  @keyframes open {
    0% {
      opacity: 0;
      margin-left: -20px;
    }
    100% {
      opacity: 1;
      margin-left: 0px;
    }
  }
  
  /*Detail left to right animation*/
  details[close] summary ~ * {
    animation: close 0.5s ease-in-out;
  }
  @keyframes close {
    0% {
      opacity: 1;
      margin-left: 0px;
    }
    100% {
      opacity: 0;
      margin-left: -20px;
    }
  }
  
  /*Detail animation*/
  summary {
    padding: 1rem;
    display: block;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
  }
  summary:before {
    content: "";
    border-width: 0.45rem;
    border-style: solid;
    border-color: transparent transparent transparent black;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
  }
  
  details[open] > summary:before {
    transform: rotate(90deg);
  }
  details summary::-webkit-details-marker {
    display: none;
  }
  details > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
  
  .urls:before {
    border-width: 0.6rem;
  }
  
  code {
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 17px;
    font-weight: bold;
  }
  
  fieldset {
    width: max-content;
    border-radius: 15px;
    border-width: 3.5px;
  }
  
  .toggle {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 15.5px;
  }
  
  .toggle:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .toggle:active {
    color: #000
  }
  
  .toggle:active:after {
    background: transparent;
  }
  
  .toggle:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  
  